.form_container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 25px;
}

.form_container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form_container input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
